<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h1>
        <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span
        ><span>m</span><span>e</span><span>, </span><span>JEJU</span>
      </h1>
      <form th:action="@{/api/auth}" th:object="${AuthForm}" method="post">
        <div class="container">
          <input
            type="email"
            placeholder="ID"
            th:field="*{email}"
            class="account"
          />
          <input
            type="password"
            placeholder="Password"
            th:field="*{password}"
            class="account"
          />
          <button id="login" type= "submit" class="account">Login</button>
        </form>
    </div>
          <button
            id="signup"
            class="signup"
            onclick="location.href='signup.html'"
          >
            Signup
          </button>
          <p id="alert" class="account"></p>
    </div>
    
  </body>
</html>
